@font-face {
    font-family: 'Proxima Regular';
    src: url('./fonts/Proxima/proximanova_regular.ttf');
}

@font-face {
    font-family: 'Circular Med';
    src: url('./fonts/Circular/CircularStd-Medium.ttf');
}

@font-face {
    font-family: 'Circular Bold';
    src: url('./fonts/Circular/CircularStd-Bold.ttf');
}


:root {
    --pink-color: #F78CB6;
    --dark-grey: #56597A;
    --grey: #AAAAAB;
}


.pink {
    color: var(--pink-color);
}
.gray {
    color: var(--grey);
}

.circ-mid {
    font-family: 'Circular Med';
}
.circ-bold {
    font-family: 'Circular Bold';
}

body {
    margin: 0;
    color: var(--dark-grey);
    font-family: 'Proxima Regular';
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1169px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.wripper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 129px;
}

/*------------HEADER------------*/

.header__container {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text {
    font-size: 1.3rem;
}
.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 73px;
}
.burger-logo{
    display: none;
}
.list-items > a{
    color: var(--grey);
    text-decoration: none;
    transition: .3s;
}
.list-items > a:hover {
    color: var(--dark-grey);
}


/*------------MAIN------------*/
.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 194px;
}
/*------------COL1------------*/
.col1__container {
    display: flex;
    flex-wrap: wrap;
}
.col1__left {
    flex: 1 1 100px;
}
.col1__left-content {
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.left-content__main {
    font-size: 1.5rem;
}
.header-text span{
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}
.left-content__header {
    position: relative;
    display: flex;
    align-items: end;
    gap: 5px;
}
.left-content__header::before {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: var(--pink-color);
}

.other-text {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 2rem;
}
.left-content__header {
    font-size: 1.3rem;
}
.btn {
    position: relative;
    color: #ffffffff;
    text-decoration: none;
    padding: 18px 85px 18px 22px;
    background: var(--pink-color);
    transition: 0.5s;
}
.btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 43px;
    height: 32px;
    right: 23px;
    top: 10px;
    background: url('./images/btn-img.png');
}
.btn:hover {
    background: var(--dark-grey);
}

.col1__right {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
}


/*------------COL2------------*/
.col2__top-text {
    text-align: center;
    margin-bottom: 58px;
}
.main-text {
    font-size: clamp(1.2rem, -0.943rem + 7.62vw, 1.8rem);
}
.col2__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.col2__block {
    flex: 1 0 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: .3s;
}
.col2__block:hover {
    background: var(--pink-color);
    color: white;
}
.col2__block:hover .block__bottom-text {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 50px;
    gap: 8px;
}
.col2__block:hover .block__bottom-text img {
    height: 2vh;
}
.col2__block:hover .block__other-text {
    color: white;
}
.col2__block:hover .icon1 {
    display: none;
}
.col2__block:hover .icon2 {
    display: block;
}
.block__icon {
    padding-top: 56px;
}
.block__header-text {
    margin: 70px 0 10px 0;
}
.block__other-text {
    padding-bottom: 50px;
    width: 90%;
    color: var(--grey);
    text-align: center;
}
.icon2, .block__bottom-text {
    display: none;
}
.block__bottom-text a {
    color: inherit;
    text-decoration: none;
}

/*------------COL3------------*/
.col3__left, .col3__right {
    flex: 1 0 280px;
}
.col3__left {
    text-align: center;
}
.col3__container {
    display: flex;
    gap: 78px;
    flex-wrap: wrap;
}
.col3__right-main {
    margin: 20px 0 30px 0;
}
.col3__container-btn {
    margin-top: 40px;
}

/*------------COL4------------*/
.col4__container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}
.col4__left, .col4__right {
    flex: 1 0 280px;
}
.col4__left {
    text-align: center;
}
.col4__right-other {
    width: 80%;
}
.col4__right-main {
    margin: 20px 0 30px 0;
}
.col4__bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.col4__bottom-name {
    font-size: 1.5rem;
    margin-top: 35px;
    margin-bottom: 10px;
}
.col4__bottom-right {
    display: flex;
}
.rot-right {
    transform: rotate(-180deg);
    margin-left: 10px;
}
.vis-left, .vis-right {
    transition: .3s;
    display: none;
}
.left:hover, .right:hover {
    display: none;
}
.left:hover ~ .vis-left {
    display: block;
    transform: scale(1.5);
}

.right:hover ~ .vis-right {
    display: block;
    transform: scale(1.5) rotate(-180deg);
    margin-left: 10px;
}

/*------------FOOTER------------*/
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__left {
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.social__header {
    font-size: 1.1rem;
    color: #919299;
}
.social__icons {
    display: flex;
    gap: 11px;
    margin-top: 16px;
}
.social-icon {
    padding: 8px 8px 0 8px;
    box-shadow: 7px 3px 8px 0px rgba(34, 60, 80, 0.11);
    border-radius: 40px;
    cursor: pointer;
    transition: .3s; 
}
.social-icon > img:last-child {
    display: none;
}

.social-icon:hover {
    transform: scale(1.3); 
}
.social-icon.social-instagram:hover > img:first-child{ 
    display: none;
}
.social-icon.social-instagram:hover > img:last-child{
    display: block; 
}

.social-icon.social-twitter:hover > img:first-child{ 
    display: none;
}
.social-icon.social-twitter:hover > img:last-child{
    display: block; 
}

.social-icon.social-youtube:hover > img:first-child{ 
    display: none;
}
.social-icon.social-youtube:hover > img:last-child{
    display: block; 
}

.social-icon.social-facebook:hover > img:first-child{ 
    display: none;
}
.social-icon.social-facebook:hover > img:last-child{
    display: block; 
}

.footer__container-menu {
    display: flex;
    gap: 167px;
}
.footer__menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__menu-list a {
    text-decoration: none;
    transition: .3s;
}
.footer__menu-list a:hover {
    color: var(--dark-grey);
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .menu-list {
        gap: 40px;
    }

    .col1__right {
        order: 1;
    }
    .col1__left {
        order: 2;
    }
    .col4__container {
        gap: 78px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .burger-logo {
        display: block;
    }
    .menu-list {
        display: none;
    }
    
    .left-content__main {
        font-size: clamp(1rem, 0.643rem + 1.79vw, 1.5rem);
    }
}


@media screen and (max-width: 567px) {
    .container {
        max-width: 100%;
    }
    .col1__container {
        flex-direction: column;
    }

    .col1__left-content {
        text-align: center;
    }

    .col1__right img{
        width: 100%;
    }

    .left-content__header{
        display: block;
    }
    .left-content__header::before {
        display: none;
    }

    .col3__left-img img{
        width: 100%;
    }
    .col3__right {
        text-align: center;
    }

    .col4__left-img img{
        width: 100%;
    }

    .col4__right {
        text-align: center;
    }
    .col4__right-other {
        width: 100%;
    }
    .col4__bottom-right {
        display: none;
    }
    .col4__bottom-text {
        justify-content: center;
    }
    
}